@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: url("https://raw.githubusercontent.com/Estherm3ng/lovestoryldn/main/pic/01.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}


.image-container {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--i) * 18deg)) translateZ(1000px);
}

.image-container span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.btn-container {
  position: relative;
  width: 100%;
}

.btn {
  position: absolute;
  bottom: -200px;
  background-color: rgb(234, 201, 235);
  border: 1px solid rgb(179, 143, 174);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Pixelify Sans', sans-serif; 
  font-size: 16px;
}

.btn:hover {
  filter: brightness(1.5);
}

#prev {
  left: 20%;
}

#next {
  right: 20%;
}



@media screen and (max-width: 768px) and (pointer: coarse) {
  
  body {
    background-size: cover;
    justify-content: center;  /* ✅ Centers horizontally */
    align-items: center;  /* ✅ Centers vertically */
  }
  

  .image-container {
    position: relative;
    width: 80px;
    height: 80px;
  }

  .image-container span {
    transform: rotateY(calc(var(--i) * 18deg)) translateZ(1000px);
  }

 
  .btn-container {
    display: none;
  }
  

  body {
    cursor: default;
  }
}